.background-container {
  position: fixed;
  width: 100%;
  height: 100%;
  background: url('/img/fondoLoginRegistro.jpg') no-repeat center center / cover;
}

/* Fondo general del contenedor */
.manage-users-container {
  --background: url('/img/fondoLoginRegistro.jpg') no-repeat center center / cover !important;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Destacar elemento de administrador */
.admin-item {
  --background: rgba(244, 67, 54, 0.2);
  border-left: 3px solid rgba(244, 67, 54, 0.2);;
}

/* Destacar elemento de socio */
.member-item {
  --background: rgba(76, 175, 80, 0.1);
  border-left: 3px solid #4caf50;
}

/* Tarjetas de información */
.info-card, .courts-card {
  margin-bottom: 16px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  background-color: #1c1c1c;
  color: white;
  padding: 16px;
}

/* Encabezado de las tarjetas */
.info-card h2, .courts-card h2 {
  font-size: 20px;
  color: #ffffff;
}

/* Elementos dentro de las tarjetas */
.info-card p, .courts-card p {
  font-size: 14px;
  color: #dddddd;
  margin: 0;
}

/* Barra de búsqueda */
ion-searchbar {
  margin: 16px 0;
}

/* Lista de usuarios */
ion-list {
  background: none;
}

ion-item {
  --background: #1c1c1c;
  --color: white;
  --border-color: rgba(255, 255, 255, 0.1);
  --padding-start: 16px;
}



ion-item h2 {
  font-size: 16px;
  color: white;
}

ion-item p {
  font-size: 14px;
  color: #cccccc;
}

/* Estilo para el avatar */
.avatar-placeholder {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0066cc;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

/* Badge de socio */
.member-badge {
  margin-top: 4px;
  --background: rgba(76, 175, 80, 0.2);
  --color: #4caf50;
}

/* Chips de roles */
ion-chip {
  font-size: 14px;
  color: white;
  border-radius: 8px;
}

ion-chip[color="success"] {
  --background: rgba(97, 76, 175, 0.2);
  --color: #4caf50;
}

ion-chip[color="danger"] {
  --background: rgba(244, 67, 54, 0.2);
}

ion-chip[color="warning"] {
  --background: rgba(255, 152, 0, 0.2);
  --color: #ff9800;
}

ion-chip[color="medium"] {
  --background: rgba(158, 158, 158, 0.2);
  --color: #9e9e9e;
}


ion-item ion-button ion-icon {
  font-size: 24px;
}


/* Botones para recargar */
.no-courts ion-button {
  --background: #0066cc;
  --color: white;
  border-radius: 8px;
  margin-top: 16px;
}

.no-courts ion-icon {
  margin-bottom: 38px;
  color: #0066cc;
}

/* Toast */
ion-toast {
  --background: #222222;
  --color: white;
  --button-color: #3880ff;
}

/* Alerta */
ion-alert {
  --background: #1c1c1c;
  --color: white;
  --header-color: #3880ff;
}

/* Responsive */
@media (max-width: 576px) {
  ion-card {
    padding: 12px;
  }

  ion-item h2 {
    font-size: 14px;
  }

  ion-item p {
    font-size: 12px;
  }
}