/* Estructura.css */

/* Solo mostrar en escritorio */
.desktop-only {
  display: block;
}
@media (max-width: 899px) {
  .desktop-only {
    display: none !important;
  }
}


.estructura-contenedor {
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: var(--ion-background-color, var(--color-fondo));
  }

.barra-lateral {
  position: fixed;
  left: 0;
  top: 0;
  width: 250px;
  background: var(--color-panel) !important;
  color: #222;
  z-index: 100;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.08);
  height: 100vh;
  min-height: 100vh !important;
  display: flex;
  flex-direction: column;
  margin: 0 !important;
  padding: 0 !important;
}

.contenedor-con-barra {
  margin-left: 250px;
  height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  background-color: var(--ion-background-color);
}

.estructura-encabezado {
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--ion-text-color);
  margin-bottom: 16px;
}

.estructura-rejilla {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px;
  padding: 16px;
}
