/* Registro - Modo claro/oscuro adaptado */

.contenedor-registro {
  background-image: var(--home-background-image);
  background-size: cover;
  background-position: center;
  --ion-background-color: transparent !important;
}

.tarjeta-registro {
  text-align: center;
  margin: 20px auto; /* centrado horizontal y margen superior */
  border-radius: 16px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
  overflow: hidden;
  max-width: 650px;
  width: 90%;
  background-color: var(--color-panel);
  color: var(--ion-text-color);
}

.cabecera-tarjeta-registro h2 {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
}


.fila-centro-horizontal {
  display: flex;
  justify-content: center;
}

.botones-toggle-cuenta {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: -29px;
  margin-bottom: 15px;
}

.posicionIcono {
  margin-top: 22px;
  display: flex;
  align-items: center;
}




.formulario-registro {
  margin-bottom: 20px;
}

.formulario-registro ion-item {
  --border-radius: 8px;
  --padding-start: 12px;
  margin-bottom: 25px;
  --border-color: rgba(255, 255, 255, 0.1);
  --highlight-color-focused: var(--ion-color-primary);
  --min-height: 75px;
}

.formulario-registro ion-input,
.formulario-registro ion-select,
.formulario-registro ion-textarea {
  --padding-start: 8px;
  --padding-top: 30px;
  --padding-bottom: 8px;
  font-size: 16px;
}

.formulario-registro ion-label {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 16px;
}

.boton-registro {
  margin-top: 20px;
  --border-radius: 8px;
  font-weight: 600;
  height: 48px;
  text-transform: none;
  font-size: 16px;
}

.pie-registro {
  text-align: center;
  margin-top: 30px;
}

.pie-registro p {
  font-size: 15px;
}

.pie-registro ion-router-link {
  color: var(--ion-color-primary);
  font-weight: 500;
  text-decoration: none;
}

.info-requerida {
  font-size: 13px;
  color: var(--ion-text-color);
  margin-top: 8px;
  margin-bottom: 30px;
  padding-left: 12px;
}

.seccion-club {
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid var(--ion-text-color);
}

.titulo-seccion {
  font-size: 18px;
  font-weight: 600;
  color: var(--ion-color-primary);
  margin-bottom: 16px;
  padding-left: 12px;
}

.animacion-carga {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

@media (max-width: 576px) {
  .tarjeta-registro {
    margin-top: 10px;
  }

  .cabecera-tarjeta-registro h2 {
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  .contenedor-registro {
    padding: 30px;
  }
}